.container {
  background-color: #eee;
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;

  .option {
    margin-right: 7px;
    cursor: pointer;
  }

  .active {
    font-weight: bold;
  }

  .clear-completed {
    padding: 3px 5px;
    color: #555;
    background-color: #ccc;
    cursor: pointer;

    &:hover {
      background-color: #aaa;
    }
  }
}
